@import url("https://belufelu.github.io/discordold/src/components/vars.css");
@import url("https://belufelu.github.io/discordold/src/components/color.css");
@import url("https://belufelu.github.io/discordold/src/components/imgs.css");
@import url("https://belufelu.github.io/discordold/src/components/other.css");
@import url("https://belufelu.github.io/discordold/src/components/profile.css");
@import url("https://belufelu.github.io/discordold/src/components/redesign.css");
